<div class="content-container h-[70%]">
    <div class="mx-auto mt-[15%] mb-[15%] max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
        <div class="flex flex-col w-full">
            <div class="flex w-full items-center justify-center">
                <h2 class="text-2xl font-semibold tracking-tight text-green-800">
                    About Us
                </h2>
            </div>

            <p class="mt-8">
                Welcome to Vastragrah, We are a clothing brand with registered GST No- </p>

            <p class="mt-8">We are a socially conscious clothing brand that blends ancient Indian design traditions with modern, comfortable wearing. Our collection features 100% pure cotton fabrics that are block printed by skilled artisans using eco-friendly practices</p>

            <p class="mt-8">At Vastragrah, we are committed to providing excellent customer service. Our friendly and knowledgeable team is available to assist you with any questions or concerns you may have.  Whether you need help with choosing a garment for an occasion, placing an order, or tracking your shipment, we are here to help.</p>

            <p class="mt-8">
                Our online store offers a convenient shopping experience, making it easy for you to find what you are looking for. Browse our collection and shop with confidence. We understand that buying clothing online can be a challenge, which is why we offer detailed product descriptions and high-quality images so you can be sure you are getting exactly what you want.
            </p>

            <p class="mt-8">
                We are committed to minimizing waste and promoting eco-friendly practices from making to packing.
            </p>
        </div>
    </div>
</div>
