<div class="content-container h-[70%]">
    <div class="mx-auto mt-[15%] mb-[15%] max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
        <div class="flex flex-col w-full">
            <div class="flex w-full items-center justify-center">
                <h2 class="text-2xl font-semibold tracking-tight text-green-800">
                    Privacy Policy
                </h2>
            </div>
            <div class="mt-8">
                <p>
                    Please note that our Policy is subject to change at any time, and we may not be able to provide you prior notice. To ensure you are up to date with the Policy, please review this page periodically. This Policy applies to current and former visitors and customers of our Platform. By visiting and/or using our Platform, you are accepting and consenting to the practices described in this Policy.
                </p>
                <p class="mt-4">
                    This privacy notice for Vastragrah ("we," "us," or "our"), describes how and why we might collect, store, use your information when you use our services ("Services").
                </p>

                <h3 class="mt-6 text-xl font-bold text-green-800">Personal information you disclose to us</h3>
                <p class="mt-4">
                    The personal information that we collect depends on the context of your interactions with us and the Services, the choices you make, and the products and features you use. The personal information we collect may include the following:
                </p>
                <ul class="list-disc pl-8 mt-2">
                    <li>Names</li>
                    <li>Phone numbers</li>
                    <li>Email addresses</li>
                    <li>Mailing addresses</li>
                    <li>Passwords</li>
                    <li>Contact preferences</li>
                    <li>Contact or authentication data</li>
                    <li>Billing addresses</li>
                </ul>

                <h3 class="mt-6 text-xl font-bold text-green-800">How do we use your information?</h3>
                <p class="mt-4">
                    We process your personal information for a variety of reasons, depending on how you interact with our Services, including:
                </p>
                <ul class="list-disc pl-8 mt-2">
                    <li>To facilitate account creation and authentication and otherwise manage user accounts.</li>
                    <li>To deliver and facilitate delivery of services to the user.</li>
                    <li>To respond to user inquiries/offer support to users.</li>
                    <li>To fulfill and manage your orders.</li>
                    <li>To request feedback.</li>
                </ul>

                <h3 class="mt-6 text-xl font-bold text-green-800">How long do we keep your information?</h3>
                <p class="mt-4">
                    We will only keep your personal information for as long as it is necessary for the purposes set out in this privacy notice, unless a longer retention period is required or permitted by law.
                </p>

                <h3 class="mt-6 text-xl font-bold text-green-800">How do we keep your information safe?</h3>
                <p class="mt-4">
                    We have implemented appropriate and reasonable technical and organizational security measures designed to protect the security of any personal information we process. However, despite our safeguards and efforts to secure your information, no electronic transmission over the Internet or information storage technology can be guaranteed to be 100% secure.
                </p>

                <h3 class="mt-6 text-xl font-bold text-green-800">Your rights</h3>
                <p class="mt-4">
                    You may review, change, or terminate your account at any time. If we are relying on your consent to process your personal information, you have the right to withdraw your consent at any time.
                </p>

                <h3 class="mt-6 text-xl font-bold text-green-800">Cookies and similar technologies</h3>
                <p class="mt-4">
                    Most Web browsers are set to accept cookies by default. If you prefer, you can usually choose to set your browser to remove cookies and to reject cookies.
                </p>

                <h3 class="mt-6 text-xl font-bold text-green-800">Contact us</h3>
                <p class="mt-4">
                    If you have questions or comments about this notice, you may email us at
                    <a
                        href="mailto:support@vastragrah.co"
                        class="text-green-800 cursor-pointer font-semibold hover:underline"
                    >
                        support&#64;vastragrah.co
                    </a>.
                </p>
            </div>
        </div>
    </div>
</div>
