
<div class="flex flex-col sm:flex-row sm:items-start py-6 content">
    <div class="hidden md:flex  gap-12 py-4 mb-8 sm:px-0 pl-6 sm:min-w-[250px] sm:ml-[1.675rem]">
        <div class="flex gap-x-3 flex-col gap-y-3">
            <p class="font-semibold">Filter Products By</p>
            <p class="text-green-800 font-semibold cursor-pointer">New Arrivals</p>
            @for (collection of collections; track collection.id) {
                <p class="cursor-pointer">{{collection.title}}</p>
            }
        </div>
    </div>
    <div class="w-full">
        <div class="flex items-center justify-center bg-green-800 px-6 py-2.5 sm:px-3.5">
            <p class="text-sm leading-6 text-white">
                Use <strong>'VASTRAGRAH'</strong> for free shipping above Rs 2000. Current delivery time is 4-7 days.
            </p>
        </div>
        <h2 class="text-3xl mt-8 w-full flex justify-center md:justify-start md:px-4 font-semibold tracking-tight text-green-800">
            All Products
        </h2>
        <div class="px-10 md:px-4 mt-8 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
            @for(arrival of products; track arrival.id){
            <div class="group relative">
                <img class="cursor-pointer min-h-80 aspect-h-1 aspect-w-1 w-full overflow-hidden bg-gray-200 lg:aspect-none group-hover:opacity-90 lg:h-80 transition duration-300 ease-in-out transform group-hover:scale-105"
                    [src]="arrival.thumbnail" alt="Product Image" />
                <div class="mt-4 flex flex-col justify-between">
                    <div>
                        <h3 data-testid="product-title" class="text-md font-semibold text-gray-900">
                            {{arrival.name}}
                        </h3>
                    </div>
                    <div>
                        <span class="text-md text-green-800">
                            ₹{{arrival.price}}
                        </span>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
