<div class="content-container h-[70%]">
    <div class="mx-auto mt-[15%] mb-[15%] max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
        <div class="flex flex-col w-full">
            <div class="flex w-full items-center justify-center">
                <h2 class="text-2xl font-semibold tracking-tight text-green-800">
                    Return &amp; Refund Policy
                </h2>
            </div>
            <div class="mt-8">
                <p>
                    At Vastragrah, we adhere to a rigorous quality control process to ensure
                    that our customers receive only the highest quality products.
                </p>
                <p class="mt-4">
                    The products purchased from our website are eligible for return only if
                    they are damaged or have manufacturing defects. Any defective or damaged
                    items must be reported to Vastragrah within 24 hours of receipt.
                    Communications received after this period will not qualify for a return,
                    unless specifically covered by the product warranty, even if the product
                    was delivered incorrectly. Vastragrah reserves the right to determine
                    whether a refund will be issued or not.
                </p>
                <p class="mt-4">
                    We also maintain the right to modify, revoke, or terminate any discount
                    codes at our discretion and without prior notice. This includes the
                    ability to amend this policy at any time. Customers are encouraged to
                    review this policy periodically for any updates or changes.
                </p>
                <p class="mt-4">
                    We recommend inspecting your order upon receipt. If you find that the item
                    is defective, damaged, or if you received the wrong item, please contact
                    us immediately so we can assess the situation and rectify it.
                </p>
                <p class="mt-4">
                    Your purchase is eligible for an exchange only under the following
                    conditions:
                </p>
                <ul class="list-disc pl-8 mt-2">
                    <li>
                        An incorrect size or product has been delivered (i.e., the product does
                        not match the ordered size).
                    </li>
                    <li>
                        The product you received has a genuine manufacturing defect. If you
                        believe the product is damaged or defective, please take a photograph as
                        soon as you open the packaging.
                    </li>
                </ul>
                <p class="mt-4">
                    If your purchase meets the return criteria mentioned above, please contact
                    our customer care team at
                    <a
                        href="mailto:support@vastragrah.co"
                        class="text-green-800 cursor-pointer font-semibold hover:underline"
                    >
                    support&#64;vastragrah.co
                    </a>
                    within 24 hours of delivery with the following information:
                </p>
                <ul class="list-disc pl-8 mt-2">
                    <li>Order number</li>
                    <li>Delivery address</li>
                    <li>
                        Reason for return (including an image of the item if it is defective or
                        incorrect).
                    </li>
                </ul>
                <p class="mt-4">
                    You can contact us via email at
                    <a
                        href="mailto:support@vastragrah.co"
                        class="text-green-800 cursor-pointer font-semibold hover:underline"
                    >
                    support&#64;vastragrah.co
                    </a>
                    from Monday to Saturday, between 10:00 AM and 6:00 PM (IST). We will
                    investigate the issue and respond within 24 working hours.
                </p>
                <p class="mt-4">
                    Please ensure that the product you are returning is unused, unworn, and
                    has its original tags intact. If the product you ordered is eligible for
                    exchange but is unavailable, we will issue a refund instead.
                </p>
                <p class="mt-4">
                    DON'T LIKE / NOT NEEDED ANYMORE / Ordered By Mistake / Ordered Similar
                    items – this complaint/argument will not be taken or entertained. Buyer
                    can not request for any return, replacements or refund if she/he doesn't
                    like the product. We accept any such claim only and only in case of Damage
                    or Wrong product received to buyer.
                </p>
                <p class="mt-4">Shipping charges will not be refunded.</p>
            </div>
        </div>
    </div>
</div>
