<div class="content-container">
    <div class="bg-white py-24 sm:py-32">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
            <div class="mx-auto max-w-2xl space-y-16 divide-y divide-gray-100 lg:mx-0 lg:max-w-none">
                <div class="grid grid-cols-1 gap-x-8 gap-y-10 lg:grid-cols-3">
                    <div>
                        <h2 class="text-3xl font-bold tracking-tight text-gray-900">Contact Us</h2>
                        <p class="mt-4 leading-7 text-gray-600">We're Here to Help You with Your Shopping Experience!
                        </p>
                    </div>
                    <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:col-span-2 lg:gap-8">
                        <div class="rounded-2xl bg-gray-50 p-10">
                            <h3 class="text-base font-semibold leading-7 text-gray-900">Email</h3>
                            <dl class="mt-3 space-y-1 text-sm leading-6 text-gray-600">
                                <div>
                                    <dt class="sr-only">Email</dt>
                                    <dd><a class="font-semibold text-green-800"
                                            href="mailto:support@vastragrah.co">support&#64;vastragrah.co</a></dd>
                                </div>
                            </dl>
                        </div>
                        <div class="rounded-2xl bg-gray-50 p-10">
                            <h3 class="text-base font-semibold leading-7 text-gray-900">Phone Number</h3>
                            <dl class="mt-3 space-y-1 text-sm leading-6 text-gray-600">
                                <div>
                                    <dt class="sr-only">Phone Number</dt>
                                    <dd><span class="font-semibold text-green-800">(+91) 8019536036</span></dd>
                                </div>
                            </dl>
                        </div>
                        <div class="rounded-2xl bg-gray-50 p-10">
                            <h3 class="text-base font-semibold leading-7 text-gray-900">Address</h3>
                            <dl class="mt-3 space-y-1 text-sm leading-6 text-gray-600">
                                <div>
                                    <dt class="sr-only">Address</dt>
                                    <dd><span class="font-semibold text-green-800">
                                            Warangal, India.</span></dd>
                                </div>
                            </dl>
                        </div>
                        <div class="rounded-2xl bg-gray-50 p-10">
                            <h3 class="text-base font-semibold leading-7 text-gray-900">Instagram</h3>
                            <dl class="mt-3 space-y-1 text-sm leading-6 text-gray-600">
                                <div>
                                    <dt class="sr-only">Instagram</dt>
                                    <dd><a class="font-semibold text-green-800"
                                            href="https://www.instagram.com/vastragrah.co/"
                                            target="_blank">Vastragrah.Co</a>
                                    </dd>
                                </div>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
