<div class="content items-center justify-center">
    <div class="flex items-center justify-center bg-green-800 px-6 py-2.5 sm:px-3.5">
        <p class="text-sm leading-6 text-white">
            Use code <strong>'VASTRAGRAH'</strong> for free shipping above Rs 2000. Current delivery time is 4-7 days.
        </p>
    </div>
    @if(isProductLoading){
    <div class="bg-white mx-auto max-w-7xl px-6 pb-8 pt-10 lg:px-8">
        <div class="skeleton-container px-2">
            <div class="skeleton skeleton-box"></div>
            <div class="skeleton skeleton-title mt-2"></div>
            <div class="skeleton skeleton-text"></div>
            <div class="skeleton skeleton-text"></div>
        </div>

    </div>
    }
    @else{
    <div class="bg-white mx-auto max-w-7xl px-6 pb-8 pt-10 lg:px-8">
        <div class="grid grid-cols-1 md:grid-cols-2  gap-8">
            <div class="flex flex-col-reverse">
                <div class="mx-auto mt-6 w-full max-w-2xl block lg:max-w-none">
                    <div class="grid grid-cols-4 gap-6" aria-orientation="horizontal" role="tablist">
                        @for(productImage of this.product.images; track productImage){
                        <button (click)="this.selectedImage = productImage.url"
                            class="relative flex h-24 cursor-pointer items-center justify-center rounded-md bg-white text-sm font-medium uppercase text-gray-900 hover:bg-gray-50 focus:outline-none"
                            aria-controls="tabs-1-panel-1" role="tab" type="button"> <span class="sr-only">Angled
                                view</span>
                            <span class="absolute inset-0 overflow-hidden"> <img [src]="productImage.url"
                                    class="h-full w-full object-cover object-center outline-none"
                                    alt="this.product.title"> </span>

                        </button>
                        }
                    </div>
                </div>
                <div class="w-full">
                    <div id="tabs-1-panel-1" role="tabpanel" tabindex="0">
                        <img [src]="selectedImage" alt="Product image 1" class="w-full object-cover object-center"
                            (click)="openModal()">
                    </div>
                </div>
                <div class="modal" [ngClass]="{'hidden': !isModalOpen}" (click)="closeModal()">
                    <div class="modal-content" (click)="$event.stopPropagation()">
                        <img [src]="selectedImage" alt="Zoomed product image" class="zoomed-image">
                        <button class="close-button" (click)="closeModal()">X</button>
                    </div>
                </div>
            </div>
            <div>
                <div id="product-info">
                    <div class="flex flex-col gap-y-4 lg:max-w-[500px] mx-auto">
                        <div class="flex gap-2 text-xl">Collection:
                            <span [routerLink]="['/store', this.product.collection.handle]"
                                class="text-green-800 cursor-pointer font-semibold">{{product.collection.title}}</span>
                        </div>
                        <h2 class="text-3xl leading-10 font-medium">{{product.title}}</h2>
                    </div>
                </div>
                <div class="mt-4 flex flex-col gap-y-4 lg:max-w-[500px] mx-auto">
                    <div class="flex flex-col gap-y-2">
                        <div class="flex flex-col gap-y-4">
                            <div>
                                <div class="flex flex-col gap-y-3">
                                    <span class="text-sm">Selected Size: <span
                                            class="font-semibold text-green-800">{{selectedSize}}</span></span>
                                    <div class="flex flex-wrap justify-between gap-2">
                                        <button
                                            [ngClass]="{'bg-green-800 text-white border-green-800': selectedSize == 'XS'}"
                                            (click)="selectedSize = 'XS'"
                                            class=" border   h-10 rounded-md p-2 flex-1  text-sm">
                                            XS
                                        </button>
                                        <button
                                            [ngClass]="{'bg-green-800 text-white border-green-800': selectedSize == 'S'}"
                                            (click)="selectedSize = 'S'"
                                            class=" border   h-10 rounded-md p-2 flex-1  text-sm">
                                            S
                                        </button>
                                        <button
                                            [ngClass]="{'bg-green-800 text-white border-green-800': selectedSize == 'M'}"
                                            (click)="selectedSize = 'M'"
                                            class=" border   h-10 rounded-md p-2 flex-1  text-sm">
                                            M
                                        </button>
                                        <button
                                            [ngClass]="{'bg-green-800 text-white border-green-800': selectedSize == 'L'}"
                                            (click)="selectedSize = 'L'"
                                            class=" border   h-10 rounded-md p-2 flex-1  text-sm">
                                            L
                                        </button>
                                        <button
                                            [ngClass]="{'bg-green-800 text-white border-green-800': selectedSize == 'XL'}"
                                            (click)="selectedSize = 'XL'"
                                            class=" border   h-10 rounded-md p-2 flex-1  text-sm">
                                            XL
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="flex flex-col gap-y-3">
                                <span class="text-sm">
                                    Selected Quantity:
                                </span>
                                <div class="flex items-center gap-x-2 border w-32 px-1 py-1 rounded-md">
                                    <button (click)="decrement()"
                                        class="pl-2  w-12 py-1 text-green-800 text-4xl  px-2 rounded-md">
                                        -
                                    </button>
                                    <span class="w-8 text-sm text-center">{{selectedQuantity}}</span>
                                    <button (click)="increment()"
                                        class="text-green-800 w-12 text-2xl pr-2 py-1 px-2 rounded-md">
                                        +
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="h-px w-full border-b border-gray-200 mt-1">
                        </div>
                        <div class="flex flex-col font-semibold text-2xl mt-2">
                            <span class="flex"><span class="mr-2 text-gray-900 line-through">Rs. 799.00</span>Rs.
                                {{variants[selectedSize] !== undefined ? variants[selectedSize].amount :
                                '599.00'}}</span>
                        </div>
                        @if(addingToCart){
                        <button (click)="addToCart()"
                            class="mt-1 w-full h-10 border-none  outline-none border-0 rounded-md bg-gray-100 text-black cursor-not-allowed">
                            <div role="status">
                                <svg aria-hidden="true" class="inline w-6 h-6 text-gray-200 animate-spin fill-green-500"
                                    viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                                        fill="currentColor" />
                                    <path
                                        d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                                        fill="currentFill" />
                                </svg>
                                <span class="sr-only">Loading...</span>
                            </div>
                        </button>
                        }
                        @else{
                        <button (click)="addToCart()" [ngClass]="{
                                'bg-green-800 hover:bg-green-900 text-white cursor-pointer': variants[selectedSize] !== undefined && selectedQuantity <= variants[selectedSize].inventory_quantity,
                                'bg-gray-100 text-black cursor-not-allowed': variants[selectedSize] === undefined || selectedQuantity > variants[selectedSize].inventory_quantity
                            }" class="mt-1  w-full h-10 border-none  outline-none border-0 rounded-md">
                            {{variants[selectedSize] !== undefined ?
                            selectedQuantity > variants[selectedSize].inventory_quantity ? "Out of Stock" : "Add to
                            Cart"
                            : 'Out of Stock'}}
                        </button>
                        }
                        <button (click)="addToFav()"
                            class="bg-white-800 outline-1 text-green-800 outline-offset-2 outline-green-800 cursor-pointer mt-1  w-full h-10 border-none  outline-none border-0 rounded-md">
                            Add To Favourites
                        </button>
                        @if(isAnAffiliate){
                        <button (click)="generateAffiliateLink()"
                            class="bg-white-800 outline-1 text-black outline-offset-2 outline-black cursor-pointer mt-1  w-full h-10 border-none  outline-none border-0 rounded-md">
                            Get Affiliate Link
                        </button>}
                    </div>
                    @if(product.metadata["styling-tips"]){
                    <dl class="mt-10 grid grid-cols-1 gap-x-8 gap-y-10 text-sm sm:grid-cols-2">
                        <div>
                            <dt class="font-semibold text-md text-gray-900">Country of Origin</dt>
                            <dd class="mt-2 text-gray-800">{{product.metadata.country}}</dd>
                        </div>
                        <div>
                            <dt class="font-semibold text-gray-900">Pattern</dt>
                            <dd class="mt-2 text-gray-800">{{product.metadata.pattern}}</dd>
                        </div>
                        <div>
                            <dt class="font-semibold text-gray-900">Material</dt>
                            <dd class="mt-2 text-gray-800">{{product.metadata.material}}</dd>
                        </div>
                        <div>
                            <dt class="font-semibold text-gray-900">Fit</dt>
                            <dd class="mt-2 text-gray-800">{{product.metadata.fit}}</dd>
                        </div>
                        @if(product.metadata.sleeves){
                        <div>
                            <dt class="font-semibold text-gray-900">Sleeves</dt>
                            <dd class="mt-2 text-gray-800">{{product.metadata.sleeves}}</dd>
                        </div>
                        }
                        @if(product.metadata.length){
                        <div>
                            <dt class="font-semibold text-gray-900">Length</dt>
                            <dd class="mt-2 text-gray-800">{{product.metadata.length}}</dd>
                        </div>
                        }
                        <div>
                            <dt class="font-semibold text-gray-900">Bleeding Colours</dt>
                            <dd class="mt-2 text-gray-800">{{product.metadata["bleeding-colors"]}}</dd>
                        </div>
                        <div>
                            <dt class="font-semibold text-gray-900">Wash Care</dt>
                            <dd class="mt-2 text-gray-800">{{product.metadata["wash-care"]}}</dd>
                        </div>
                        <div>
                            <dt class="font-semibold text-gray-900">Ideal For</dt>
                            <dd class="mt-2 text-gray-800">{{product.metadata.ideal}}</dd>
                        </div>
                    </dl>
                    <h1 class="font-semibold text-md">Styling Tips</h1>
                    @for(tip of tips; track tip){
                    <p class="font-semibold text-sm">{{tip.name}}: <span class="font-normal">{{tip.value}}</span></p>
                    }
                    }
                    <span class="text-md font-normal text-gray-800">
                        <span class="font-semibold">Note</span>: {{product.description}}
                    </span>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-1 mt-20">
            <div class="h-px w-full border-b border-gray-200 mt-1">
            </div>
            <div class="flex flex-col items-center text-center mt-20 mb-16">
                <span class="text-3xl text-black mb-6 font-semibold">
                    You May Also Like
                </span>
                <div class="grid grid-cols-1 md:grid-cols-3 gap-x-6 gap-y-8 mt-4">
                    @if(isRelatedProductsLoading){
                    @for(i of [1,2,3,4]; track i){
                    <div
                        class="group relative skeleton-loader  min-h-96 aspect-h-1 aspect-w-1 w-full lg:h-80 lg:aspect-none">
                        <div class="skeleton-image"></div>
                        <div class="skeleton-text"></div>
                        <div class="skeleton-price"></div>
                    </div>
                    }
                    }
                    @else{
                    @for(relatedProduct of relatedProducts; track relatedProduct.id){
                    <div [routerLink]="['/product', relatedProduct.handle]" class="group relative">
                        <img class="cursor-pointer min-h-96 aspect-h-1 aspect-w-1 w-full overflow-hidden bg-gray-200 lg:aspect-none group-hover:opacity-90 lg:h-80 transition duration-300 ease-in-out transform group-hover:scale-105"
                            [src]="relatedProduct.thumbnail" alt="Product Image" />
                        <div class="mt-4 flex flex-col justify-between">
                            <div>
                                <span class="w-full cursor-pointer text-md font-semibold text-gray-900">
                                    {{relatedProduct.name}}
                                </span>
                            </div>
                            <div>
                                <span class="line-through text-gray-900">
                                    ₹799.00
                                </span>
                                <span class="ml-2 cursor-pointer text-md text-green-800">
                                    ₹{{relatedProduct.price}}
                                </span>
                            </div>
                        </div>
                    </div>
                    }
                    }
                </div>
            </div>

        </div>
    </div>
    }

    @if(openPopUp){
    <div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">

        <div class="fixed inset-0 bg-gray-500/75 transition-opacity" aria-hidden="true"></div>

        <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
            <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">

                <div
                    class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
                    <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                        <div class="sm:flex sm:items-start">
                            <div
                                class="mx-auto flex size-12 shrink-0 items-center justify-center rounded-full bg-red-100 sm:mx-0 sm:size-10">
                                <svg class="size-6 text-red-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                    stroke="currentColor" aria-hidden="true" data-slot="icon">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z" />
                                </svg>
                            </div>
                            <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                                <h3 class="text-base font-semibold text-gray-900" id="modal-title">Maximum quantity
                                    exceeded</h3>
                                <div class="mt-2">
                                    <p class="text-sm text-gray-500">You have already added maximum available quantity
                                        in the cart.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
                        <button (click)="openPopUp=false" type="button"
                            class="rounded-sm bg-green-800 px-2 py-2 text-md font-semibold text-white shadow-sm hover:bg-white hover:text-green-800 hover:ring-1 hover:ring-green-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-800">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
    @if(affiliatePopup){
        <div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

  <div class="fixed inset-0 z-10 overflow-y-auto">
    <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">

      <div class="relative transform overflow-hidden rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-sm sm:p-6">
        <div>
          <div class="mx-auto flex h-12 w-12 items-center justify-center rounded-full bg-green-100">
            <svg class="h-6 w-6 text-green-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
            </svg>
          </div>
          <div class="mt-3 text-center sm:mt-5">
            <h3 class="text-base font-semibold leading-6 text-gray-900" id="modal-title">Link Generated</h3>
            <div class="mt-2">
                <div>
  <div class="mt-2">
    <input type="email" name="email" id="email" [value]="affiliateId" disabled class="block p-4 w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 disabled:cursor-not-allowed disabled:bg-gray-50 disabled:text-gray-500 disabled:ring-gray-200 sm:text-sm sm:leading-6">
  </div>
</div>
            </div>
          </div>
        </div>
        <div class="mt-5 sm:mt-6">
            @if(!clicked){
                <button (click)="copyToClipboard()" type="button" class="inline-flex w-full justify-center rounded-md bg-green-800 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-green-900 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-800">Copy Link</button>
            }
            @else {
                <button type="button" class="inline-flex w-full justify-center rounded-md bg-green-800 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-green-900 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-800">Copied</button>
            }
    </div>
        <button (click)="affiliatePopup=false;" type="button" class="mt-3 inline-flex w-full justify-center rounded-md bg-red-800 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-900 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-800">Close</button>
      </div>
    </div>
  </div>
</div>

    }
