<div class="content-container h-[70%]">
    <div class="mx-auto mt-[15%] mb-[15%] max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
        <div class="flex flex-col w-full">
            <div class="flex w-full items-center justify-center">
                <h2 class="text-2xl font-semibold tracking-tight text-green-800">
                    Terms & Conditions
                </h2>
            </div>
            <div class="mt-8">
                <p>
                    We are Vastragrah ("Company," "we," "us," "our"). We operate the Services, as well as any other related products and services that refer or link to these legal terms (the "Legal Terms") (collectively, the "Services"). You can contact us by email at
                    <a
                        href="mailto:support@vastragrah.co"
                        class="text-green-800 cursor-pointer font-semibold hover:underline"
                    >
                    support&#64;vastragrah.co
                    </a>.
                </p>
                <p class="mt-4">
                    These Legal Terms constitute a legally binding agreement made between you, whether personally or on behalf of an entity ("you"), and Vastragrah, concerning your access to and use of the Services. You agree that by accessing the Services, you have read, understood, and agreed to be bound by all of these Legal Terms. IF YOU DO NOT AGREE WITH ALL OF THESE LEGAL TERMS, THEN YOU ARE EXPRESSLY PROHIBITED FROM USING THE SERVICES AND YOU MUST DISCONTINUE USE IMMEDIATELY.
                </p>
                <p class="mt-4">
                    We reserve the right, in our sole discretion, to make changes or modifications to these Legal Terms at any time and for any reason. We will alert you about any changes by updating the "Last updated" date of these Legal Terms, and you waive any right to receive specific notice of each such change. It is your responsibility to periodically review these Legal Terms to stay informed of updates.
                </p>

                <h3 class="mt-6 text-xl font-bold text-green-800">1. OUR SERVICES</h3>
                <p class="mt-4">
                    The information provided when using the Services is not intended for distribution to or use by any person or entity in any jurisdiction or country where such distribution or use would be contrary to law or regulation or which would subject us to any registration requirement within such jurisdiction or country.
                </p>

                <h3 class="mt-6 text-xl font-bold text-green-800">2. INTELLECTUAL PROPERTY RIGHTS</h3>
                <p class="mt-4">
                    We are the owner or the licensee of all intellectual property rights in our Services, including all source code, databases, functionality, software, website designs, audio, video, text, photographs, and graphics in the Services (collectively, the "Content"), as well as the trademarks, service marks, and logos contained therein (the "Marks"). The Content and Marks are provided in or through the Services "AS IS" for your personal, non-commercial use or internal business purpose only.
                </p>

                <h3 class="mt-6 text-xl font-bold text-green-800">3. USER REPRESENTATIONS</h3>
                <p class="mt-4">
                    By using the Services, you represent and warrant that you have the legal capacity and agree to comply with these Legal Terms; you are not a minor in the jurisdiction in which you reside; and your use of the Services will not violate any applicable law or regulation.
                </p>

                <h3 class="mt-6 text-xl font-bold text-green-800">4. PROHIBITED ACTIVITIES</h3>
                <p class="mt-4">
                    You may not access or use the Services for any purpose other than that for which we make the Services available. As a user of the Services, you agree not to engage in any prohibited activities, including but not limited to:
                </p>
                <ul class="list-disc pl-8 mt-2">
                    <li>Systematically retrieve data or other content from the Services.</li>
                    <li>Trick, defraud, or mislead us and other users.</li>
                    <li>Upload or transmit viruses or other harmful material.</li>
                    <li>Use the Services in a manner inconsistent with any applicable laws or regulations.</li>
                </ul>

                <h3 class="mt-6 text-xl font-bold text-green-800">5. USER GENERATED CONTRIBUTIONS</h3>
                <p class="mt-4">
                    The Services may provide you with the opportunity to create, submit, post, display, transmit, perform, publish, distribute, or broadcast content and materials to us or on the Services, including but not limited to text, writings, video, audio, photographs, graphics, comments, suggestions, or personal information (collectively, "Contributions").
                </p>

                <h3 class="mt-6 text-xl font-bold text-green-800">6. LIMITATIONS OF LIABILITY</h3>
                <p class="mt-4">
                    IN NO EVENT WILL WE OR OUR DIRECTORS, EMPLOYEES, OR AGENTS BE LIABLE TO YOU OR ANY THIRD PARTY FOR ANY DIRECT, INDIRECT, CONSEQUENTIAL, EXEMPLARY, INCIDENTAL, SPECIAL, OR PUNITIVE DAMAGES, INCLUDING LOST PROFIT, LOST REVENUE, LOSS OF DATA, OR OTHER DAMAGES ARISING FROM YOUR USE OF THE SERVICES, EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
                </p>

                <h3 class="mt-6 text-xl font-bold text-green-800">7. INDEMNIFICATION</h3>
                <p class="mt-4">
                    You agree to defend, indemnify, and hold us harmless from any loss, damage, liability, claim, or demand, including reasonable attorneys’ fees and expenses, made by any third party due to or arising out of your use of the Services or breach of these Legal Terms.
                </p>

                <h3 class="mt-6 text-xl font-bold text-green-800">8. CONTACT US</h3>
                <p class="mt-4">
                    If you have questions or comments about these Legal Terms, you may email us at
                    <a
                        href="mailto:support@vastragrah.co"
                        class="text-green-800 cursor-pointer font-semibold hover:underline"
                    >
                    support&#64;vastragrah.co
                    </a>.
                </p>
            </div>
        </div>
    </div>
</div>
