<div class="content-container">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
        <div routerLink="/store/all" class="cursor-pointer relative h-full image-container">
            <img alt="vastragrah women" class="w-full h-full object-contain" src="/assets/images/female.webp" />
            <div class="absolute inset-0 flex flex-col items-center justify-center">
                <h2 class="sm:text-[110px] font-bold text-[50px] color-white text-white">Women</h2>
            </div>
        </div>
        <div class="cursor-pointer relative h-full image-container">
            <img alt="vastragrah men" class="w-full h-full object-contain" src="/assets/images/male.webp" />
            <div class="absolute inset-0 flex flex-col items-center justify-center">
                <h2 class="sm:text-[110px] font-bold text-[50px] color-white text-white">Men</h2>
            </div>
        </div>
    </div>
</div>
<div class="content-container">
    <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">

        <div class="flex w-full items-center justify-center">
            <h2 class="text-3xl font-semibold tracking-tight text-green-800">
                New Arrivals
            </h2>
        </div>
        <div class="px-10 mt-8 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
            @if(isLoading) {
            @for(i of [1,2,3,4]; track i) {
            <div class="group relative skeleton-loader min-h-96 aspect-h-1 aspect-w-1 w-full lg:h-80 lg:aspect-none">
                <div class="skeleton-image"></div>
                <div class="skeleton-text"></div>
                <div class="skeleton-price"></div>
            </div>
            }
            } @else {
            @for(arrival of newArrivals; track arrival.id) {
            <div [routerLink]="['/product', arrival.handle]" class="group relative">
                <div
                    class="overflow-hidden shadow-lg transition-transform duration-300 ease-in-out transform group-hover:scale-105">
                    <img class="cursor-pointer w-full h-auto object-cover lg:h-80" [src]="arrival.thumbnail"
                        alt="Product Image" />
                </div>
                <div class="mt-4 flex flex-col justify-between">
                    <div>
                        <span class="w-full cursor-pointer text-md font-semibold text-gray-900">
                            {{arrival.name}}
                        </span>
                    </div>
                    <div>
                        <span class="cursor-pointer text-md text-green-800">
                            ₹{{arrival.price}}
                        </span>
                    </div>
                </div>
            </div>
            }
            }
        </div>
        <div class="flex w-full items-center justify-center mt-12">
            <button routerLink="/store/all"
                class="rounded-sm bg-green-800 px-6 py-3 text-md font-semibold text-white shadow-sm hover:bg-white hover:text-green-800 hover:ring-1 hover:ring-green-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-800">
                See All Products
            </button>
        </div>
    </div>
</div>

@for (collection of collections; track collection.id) {
<div class="content-container">
    <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
        <div class="flex w-full items-center justify-center">
            <h2 class="text-3xl font-semibold tracking-tight text-green-800">
                {{collection.title}}
            </h2>
        </div>

        <div class="px-10 mt-8 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
            @if(isLoadingProducts) {
            @for(i of [1,2,3,4]; track i) {
            <div class="group relative skeleton-loader min-h-96 aspect-h-1 aspect-w-1 w-full lg:h-80 lg:aspect-none">
                <div class="skeleton-image"></div>
                <div class="skeleton-text"></div>
                <div class="skeleton-price"></div>
            </div>
            }
            } @else {
            @for(arrival of productsByCollection[collection.id]; track arrival.id) {
            <div [routerLink]="['/product', arrival.handle]" class="group relative">
                <div
                    class="overflow-hidden shadow-lg transition-transform duration-300 ease-in-out transform group-hover:scale-105">
                    <img class="cursor-pointer w-full h-auto object-cover lg:h-80" [src]="arrival.thumbnail"
                        alt="Product Image" />
                </div>
                <div class="mt-4 flex flex-col justify-between">
                    <div>
                        <span class="w-full cursor-pointer text-md font-semibold text-gray-900">
                            {{arrival.name}}
                        </span>
                    </div>
                    <div>
                        <span class="cursor-pointer text-md text-green-800">
                            ₹{{arrival.price}}
                        </span>
                    </div>
                </div>
            </div>
            }
            }
        </div>

        <div class="flex w-full items-center justify-center mt-12">
            <button [routerLink]="['/store', collection.handle]"
                class="rounded-sm bg-green-800 px-6 py-3 text-md font-semibold text-white shadow-sm hover:bg-white hover:text-green-800 hover:ring-1 hover:ring-green-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-800">
                See All Products
            </button>
        </div>
    </div>
</div>
}
